<h1>Follows</h1>

<h3>ユーザー検索</h3>

<%= search_form_for @user_q, url: search_users_path do |f| %>
  <%= f.label :name_cont, 'User Name' %>
  <%= f.search_field :name_cont %>
  
  <%= f.submit '検索' %>
<% end %>

<table>
  <thead>
    <tr>
      <th>Icon</th>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr id="user_<%= user.id %>">
        <%= render 'user', user: user %>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Profile', user_path(@user) %>