<h1>Users</h1>

<h3>ユーザー検索</h3>

<%= search_form_for @user_q, url: search_users_path do |f| %>
  <%= f.label :name_cont, 'User Name' %>
  <%= f.search_field :name_cont %>
  
  <%= f.submit '検索' %>
<% end %>

<section class="all_pictures_main">
  <table>
    <tbody class="picture">
      <% @users.each do |user| %>
        <tr id="user_<%= user.id %>">
          <%= render 'user', user: user %>
        </tr>
      <% end %>
    </tbody>
  </table>
</section>