<h1>about me</h1>

<div id="user_<%= @user.id %>">
  <%= render 'user', user: @user %>
</div>

<%= link_to "フォロー #{@user.followings.count}人", follows_user_path(@user) %>
<%= link_to "フォロワー #{@user.followers.count}人", followers_user_path(@user) %>
<h3>自己紹介</h3>
<%= @user.profile.content %>
<h4>年代</h4>
<%= @user.profile.age %>
<h4>居住形態</h4>
<%= @user.profile.constitution %>
<h4>間取り</h4>
<%= @user.profile.floor %>
<h4>広さ</h4>
<%= @user.profile.square %>


<h1>投稿</h1>

<table>
  <thead>
    <tr>
      <th>Image</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @user.pictures.each do |picture| %>
      <tr>
        <td><%= image_tag picture.image.url %></td>
        <td><%= link_to 'Show', picture %></td>
      </tr>
    <% end %>
  </tbody>
</table>