<% unless picture.user.profile.image.present? %>
  <td><%= image_tag 'guest.png', size: '200x200', style: "border-radius: 50%; width: 200px; height: 200px; object-fit:cover;" %></td>
<% else %>
  <td><%= image_tag picture.user.profile.image.url, style: "border-radius: 50%; width: 200px; height: 200px; object-fit:cover;" %></td>
<% end %>
<td><%= link_to "#{picture.user.name}", user_path(picture.user.id) %></td>
<td><%= link_to image_tag(picture.image.url), picture_path(picture.id), {class: "heart"} %></td>
<td><%= picture.content %></td>
<% if current_user.favorited_picture_by?(picture.id) %>
  <td><%= link_to image_tag('icon_heart_on.PNG', size: '40x40'), destroy_favorite_picture_path(picture), {method: :DELETE, remote: true, class: "heart"} %></td>
<% else %>
  <td><%= link_to image_tag('icon_heart_off.PNG', size: '40x40'), create_favorite_picture_path(picture), {method: :POST, remote: true, class: "heart"} %></td>
<% end %>
