<div class="all_picture">
  <section class="all_pictures_top">
    <h1>投稿一覧</h1>

    <h3>投稿検索</h3>

    <%= search_form_for @picture_q, url: search_pictures_path do |f| %>
      <%= f.collection_select :tags_id_eq, @tags, :id, :name, include_blank: 'タグ選択' %>
      
      <%= f.submit '検索' %>
    <% end %>
  </section>

  <section class="all_pictures_main">
    <table>
      <tbody class="picture">
        <% @pictures.each do |picture| %>
          <tr id="picture_<%= picture.id %>">
            <%= render 'picture', picture: picture %>
          </tr>
        <% end %>
      </tbody>
    </table>
  </section>
</div>
