<h1>投稿詳細</h1>

<div id="picture_<%= @picture.id %>">
  <%= render 'picture', picture: @picture %>
  <br>
  コメント：<%= @picture.content %>
</div>

<% if @picture.user == current_user %>
  <%= link_to '編集', edit_picture_path(@picture) %> |
  <%= link_to '削除', @picture, method: :delete, data: { confirm: '削除してもいいですか?'} %> |
<% else %>
  <td></td>
  <td></td>
<% end %>