<div class="room_idea_form">
  <%= form_with(model: room_idea, local: true) do |form| %>
    <% if room_idea.errors.any? %>
      <div class="error_explanation_original">
        <h2><%= room_idea.errors.count %>件のエラーが発生したため Room Idea は保存されませんでした。</h2>

        <ul>
          <% room_idea.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="room_idea_main_form">
      <div class="field">
        <%= form.label :image %>
        <%= image_tag(room_idea.image.url) if room_idea.image && room_idea.image.url %>
        <%= form.file_field :image %>
        <%= form.hidden_field :image_cache %>
      </div>
    </div>
    <div class="room_idea_side_form">
      <div class="field">
        <%= form.label :name %>
        <%= form.text_field :name, placeholder: "例）テーブル" %>
      </div>
      <div class="field">
        <%= form.label :color %>
        <%= form.text_field :color, placeholder: "例）ホワイト" %>
      </div>
      <div class="field">
        <%= form.label :width %>
        <%= form.text_field :width, placeholder: "例）70" %>cm
      </div>
      <div class="field">
        <%= form.label :depth %>
        <%= form.text_field :depth, placeholder: "例）120" %>cm
      </div>
      <div class="field">
        <%= form.label :height %>
        <%= form.text_field :height, placeholder: "例）120" %>cm
      </div>
      <div class="field">
        <%= form.label :content %>
        <%= form.text_area :content, placeholder: "例）高さが変えられると良い" %>
      </div>
    </div>

    <div class="room_idea_submit">
      <div class="actions">
        <%= form.submit %>
      </div>
    </div>
  <% end %>
</div>