<h1>ルームアイデア詳細</h1>

<table class="all_room_idea">
  <thead>
    <tr>
      <th>画像</th>
      <th>欲しいもの</th>
      <th>カラー</th>
      <th>縦幅</th>
      <th>横幅</th>
      <th>高さ</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <br>

  <tbody>
    <tr>
      <td><%= image_tag @room_idea.image.url %></td>
      <td><%= @room_idea.name %></td>
      <td><%= @room_idea.color %></td>
      <td><%= "#{@room_idea.width}cm" %></td>
      <td><%= "#{@room_idea.depth}cm" %></td>
      <td><%= "#{@room_idea.height}cm" %></td>
    </tr>
  </tbody>
</table>

<p>
  <strong>備考:</strong>
  <%= @room_idea.content %>
</p>

<%= link_to '編集', edit_room_idea_path(@room_idea) %> |
<%= link_to '一覧へ', room_ideas_path %>
