<% unless product.picture.user.profile.image.present? %>
  <td><%= image_tag 'guest.png', size: '200x200', class: "rounded-circle", size: "100x100" %></td>
<% else %>
  <td><%= image_tag product.picture.user.profile.image.url, class: "rounded-circle", size: "100x100" %></td>
<% end %>
<td><%= link_to "#{product.picture.user.name}", user_path(product.picture.user.id) %></td>
<% unless product.image.present? %>
  <td><%= link_to image_tag('sample.png', size: '250x250'), product_path(product.id), {class: "heart"} %></td>
<% else %>
  <td><%= link_to image_tag(product.image.url), product_path(product.id), {class: "heart"} %></td>
<% end %>
<td><%= product.name %></td>
<td><br><%= link_to "販売情報", "#{product.product_url}", {target: :_blank, class: "button001"} %></td>
<% unless product.image_url.present? %>
  <td></td>
<% else %>
  <td><br><%= link_to "画像リンク", "#{product.image_url}", {target: :_blank, class: "button001"} %></td>
<% end %>
<% if current_user.favorited_product_by?(product.id) %>
  <td><%= link_to image_tag('icon_heart_on.PNG', size: '40x40'), destroy_favorite_product_path(product), {method: :DELETE, remote: true, class: "heart"} %></td>
<% else %>
  <td><%= link_to image_tag('icon_heart_off.PNG', size: '40x40'), create_favorite_product_path(product), {method: :POST, remote: true, class: "heart"} %></td>
<% end %>