<h2>my room</h2>

<table>
  <tbody>
    <% current_user.room_ideas.each do |room_idea| %>
        <tr><td>name:<%= room_idea.name %></td></tr>
        <tr><td>color:<%= room_idea.color %></td></tr>
        <tr><td>width:<%= room_idea.width %></td></tr>
        <tr><td>depth:<%= room_idea.depth %></td></tr>
        <tr><td>height:<%= room_idea.height %></td></tr>
        <tr><td><%= link_to 'Show', room_idea %></td></tr>
    <% end %>
  </tbody>
</table>
