<!DOCTYPE html>
<html>
  <head>
    <title>Myru</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
  </head>

  <body>
    <header>
      <nav>
        <%= link_to image_tag('myru.PNG', size: '70x40'), homes_path, {class: "left heart"} %>
        <% if user_signed_in? %>
          <div class="gnavi__wrap">
            <ul class="gnavi__lists">
              <li class="gnavi__list">
                <%= link_to image_tag('users.png', size: '40x40', class: "head_icon"), users_path, {class: "heart"} %>
                <ul class="dropdown__lists">
                  <%= link_to "全てのユーザ", users_path, {class: "dropdown__list"} %>
                </ul>
              </li>
              <li class="gnavi__list">
                <%= link_to image_tag('picture.PNG', size: '42x42', class: "head_icon spec_all_icon"), "#", {class: "heart"} %>
                <ul class="dropdown__lists">
                  <%= link_to "私のアイデア", room_ideas_path, {class: "dropdown__list"} %>
                  <%= link_to "全ての投稿", pictures_path, {class: "dropdown__list"} %>
                  <%= link_to "全ての商品", products_path, {class: "dropdown__list"} %>
                </ul>
              </li>
              <li class="gnavi__list">
                <%= link_to image_tag('Bheart.PNG', size: '40x40', class: "head_icon"), "#", {class: "heart"} %>
                <ul class="dropdown__lists">
                  <%= link_to 'お気に入り投稿', favorite_pictures_path, {class: "dropdown__list"} %>
                  <%= link_to 'お気に入り商品', favorite_products_path, {class: "dropdown__list"} %>
                </ul>
              </li>
              <li class="gnavi__list">
                <%= link_to image_tag('plus.PNG', size: '40x40', class: "head_icon"), "#", {class: "heart"} %>
                <ul class="dropdown__lists">
                  <%= link_to '新規投稿', new_picture_path, {class: "dropdown__list"} %>
                  <%= link_to 'アイデア作成', new_room_idea_path, {class: "dropdown__list"} %>
                </ul>
              </li>
              <li class="gnavi__list">
                <%= link_to image_tag(current_user.profile.image.url, size: '50x50', class: "head_icon spec_icon rounded-circle"), "#", {class: "heart"} %>
                <ul class="dropdown__lists">
                  <%= link_to 'マイページ', user_path(current_user), {class: "dropdown__list"} %>
                  <%= link_to 'アカウント変更', edit_user_registration_path, {class: "dropdown__list"} %>
                  <%= link_to 'プロフィール変更', edit_profile_path(current_user), {class: "dropdown__list"} %>
                  <% if current_user.try(:admin?) %>
                    <%= link_to "タグ管理", tags_path, {class: "dropdown__list"} %>
                    <%= link_to "アプリ管理", rails_admin_path, {class: "dropdown__list"} %>
                  <% end %>
                  <%= link_to 'ログアウト', destroy_user_session_path, {method: :delete, class: "dropdown__list"} %>
                </ul>
              </li>
            </ul>
          </div>
        <% else %>
          <div class="gnavi__wrap">
            <ul class="gnavi__lists">
              <li class="gnavi__list head_icon"><%= link_to 'サインアップ', new_user_registration_path, {class: "head_icon"} %></li>
              <li class="gnavi__list head_icon"><%= link_to 'ログイン', new_user_session_path, {class: "head_icon"} %></li>
            </ul>
          </div>
        <% end %>
      </nav>
    </header>


    <main>
    
      <% if user_signed_in? %>
      <!-- toggle section -->
        <input type="checkbox" id="check" />
        <label for="check">
          <i class="arrow-right" id="btn">
            <p>my room</p>
          </i>
          <i class="arrow-left" id="cancel"></i>
        </label>
        <div class="sidebar">
          <%= render'layouts/sidebar' %>
        </div>
      <% end %>
      
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
      
      <%= yield %>
    </main>
    
    <footer>
      <p>© 2022 myru no moritsuka </p>
    </footer>
  </body>
</html>
